.login {
    max-width: 396px;
    margin: auto;
}

.login__logo {
    display: block;
    margin: 70px 0 40px;
}

.login__title {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-bottom: 40px;
}

.login__label {
    margin: 20px 0px 10px;
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.login__form {}

.login__input {
    border-radius: 8px;
    background: #F9F9F9;
    min-width: 366px;
    max-height: 46px;
    border: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    padding: 15px;
}

.login__input:focus {
    outline: none;
}

.login__save-button {
    min-width: 396px;
    min-height: 45px;
    margin: 179px 0 16px;
    border-radius: 3px;
    background: #3456F3;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.login__save-button_inactive {
    min-width: 396px;
    min-height: 45px;
    margin: 179px 0 16px;
    border-radius: 3px;
    background: #3456F3;
    border: none;
    color: #C2C2C2;;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none; /* Запрет клика по кнопке */
    cursor: not-allowed;
    background: #F8F8F8;;
}

.login__to-login {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #A0A0A0;
    font-size: 14px;
    font-weight: 400;
}

.login__login-blue {
    color: #3456F3;
}

.login__error {
    position: absolute;
    margin: 0;
    line-height: 10px;
    max-width: 395px;
}

.login__request-error{
    font-size: 11px;
    margin-top: -86px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width:1000px) {
    .login {
        margin: 232px auto;
    }
}

@media screen and (max-width:560px) {
    .login {
        margin: 56px auto 10px;
        text-align: center;
    }

    .login__logo {
        text-align: center;
        margin: 0 0 50px;
    }

    .login__label {
        margin: 20px auto 10px;
        text-align: start;
        max-width: 260px;
    }

    .login__input {
        min-width: 230px;
    }

    .login__title {
        text-align: center;
        margin-bottom: 80px;
    }

    .login__save-button {
        min-width: 260px;
        font-size: 12px;
        margin: 267px auto 14px;
    }

    .login__save-button,
    .login__save-button_inactive {
        min-width: 260px;
        font-size: 12px;
        margin: 179px auto 14px;
    }

    .login__to-login {
        font-size: 12px;
    }

    .login__error {
        min-width: 260px;
        font-size: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}